/* general */

html, body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
body{
  background: url('./images/kaplan-header.jpg');
  background-repeat: no-repeat;
  background-size:1280px;
  background-position: left top;
}

.maxWidthFrame{
  max-width:960px;
  margin: 220px auto;
}
video::-webkit-media-controls {
    display:none !important;
}
video::-webkit-media-controls-start-playback-button {
  display: none !important;
}
.whatNextList {
  list-style: none;
  padding:0;
  text-align: justify;
}
.whatNextList li{
  margin-bottom:20px;
  display: inline-block;
}
.whatNextList li span{
  margin-right: 10px;
  font-size: 2em;
}

.arrow_box {
	position: relative;
	background: #39408d;
  margin-top:40px;
  padding:20px;
  color:#fff;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #39408d;
	border-width: 30px;
	margin-left: -30px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #39408d;
	border-width: 36px;
	margin-left: -36px;
}
.hide-me {
  opacity:0;
  height:0;
}
.fade-me-in {
  height:auto;
  opacity: 1;
  margin-top: 25px;
  font-size: 21px;
  text-align: center;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}​


.submitButton{
  width: 100%;
}

.header {
  background-color:#39408d;
  width: 100%;
  height: 12vh;
  padding: 1%;
  padding-left: 3%;
}

.headerLogo {
  height: 95%;
}

.app {
    perspective: 1000px;
}
/* ---------- form ---------- */

.page-header {
  margin-top:0 !important;
}

#consent-area > div > span {
  display: none!important;
}
.formContainer, .lotteryContainer {
  margin: 40px auto;
  border-radius: 5px;
  padding: 25px;
/*  background-color: #f9f9f9;*/
  border-radius: 9px;
  -webkit-box-shadow: 10px 7px 5px 0px rgba(0,0,0,0.24);
  -moz-box-shadow: 10px 7px 5px 0px rgba(0,0,0,0.24);
  box-shadow: 10px 7px 5px 0px rgba(0,0,0,0.24);
  border: 1px solid #eee;

}

.flipAnimationContainer{
 transition: 0.6s;
 transform-style: preserve-3d;
 position: relative;
 transform: rotateY(360deg);
}


.FeedbackContainer{
  padding: 20px;
  text-align: center;
  background-color: lightblue;
}

checkbox {
  padding: 0px;
  margin:0px;
}

.consentField{
  margin-top: 20px;
  width: 0px;
  height: 0px;
  padding: 0px;
  margin:0px;
}

.radioButtons{

}

/* code checker */

.App {

}
.pageHeader{
  text-align: center;
}
.MovieBox {
  background-color: #f9f9f9;
  border-radius: 9px;
  -webkit-box-shadow: 10px 7px 5px 0px rgba(0,0,0,0.24);
  -moz-box-shadow: 10px 7px 5px 0px rgba(0,0,0,0.24);
  box-shadow: 10px 7px 5px 0px rgba(0,0,0,0.24);
  max-height: 500px;
}

video {
  border-radius: 9px;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%!important;
  height: 80%!important;
}

@media screen and (max-height: 520px) {

h1 {
  font-size: 2em;
  margin:0px;
  padding-top: 0px;
}

.page-header {
  margin-top: 10px;
}

}


/*  App.js */

.contentContainer{
  margin-top: 50px;
  width: 100%;
}
.mainImageContainer {
  margin-bottom: 30px;
}

.radioButtons{
  display: flex;
  flex:1;
  flex-direction: row;
  justify-content: flex-start;
}

.radioButtons > label {
  margin-right: 14px;
}
@media  screen and (max-width: 1248px) {
  .maxWidthFrame{
    margin:220px auto;
  }
  .maxWidthContainer{
    background-color: #ffffff;
  }

}
@media screen and (max-width: 960px) {

}
@media screen and (max-width: 768px) {
  .maxWidthFrame{
    max-width:960px;
    padding: 20px;
    background-color: #ffffff;
  }

}
