html, body {
  width: 100%;
  height: 100%;

  font-size: 16px;
}
.submitButton{
  width: 100%;
}
.header {
  background-color:#39408d;
  width: 100%;
  height: 12vh;
  padding: 1%;
  padding-left: 3%;
}

.headerLogo {
  height: 95%;
}
/* ---------- form ---------- */

.page-header {
  margin-top:0 !important;
}

.formContainer {
  margin: 40px auto;
  border-radius: 5px;
  padding: 50px;
  max-width: 600px;
  background-color: #f9f9f9;
  border-radius: 9px;
  -webkit-box-shadow: 10px 7px 5px 0px rgba(0,0,0,0.24);
  -moz-box-shadow: 10px 7px 5px 0px rgba(0,0,0,0.24);
  box-shadow: 10px 7px 5px 0px rgba(0,0,0,0.24);
}
.FeedbackContainer{
  padding: 20px;
  text-align: center;
  background-color: lightblue;
}

checkbox {
  padding: 0px;
  margin:0px;
}

.consentField{
  margin-top: 20px;
  width: 0px;
  height: 0px;
  padding: 0px;
  margin:0px;
}


/* --------------- code checker -------------------- */

.App {

}

.container{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lotteryBox {
  background-color: #f9f9f9;
  padding: 40px;
  border-radius: 9px;
  -webkit-box-shadow: 10px 7px 5px 0px rgba(0,0,0,0.24);
  -moz-box-shadow: 10px 7px 5px 0px rgba(0,0,0,0.24);
  box-shadow: 10px 7px 5px 0px rgba(0,0,0,0.24);
  max-width: 700px;
  max-height: 500px;
}

.movieBox {
  width: 100%;
  height: 100%
}

.movieBox > img{

}

video {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%!important;
  height: 80%!important;
}

@media screen and (max-height: 520px) {
  .lotteryBox {
  background-color: #f9f9f9;
  padding: 20px;
  min-width: 70%;
  margin-top: 10px;
  overflow: auto;
}
h1 {
  font-size: 2em;
  margin:0px;
  padding-top: 0px;
}

.page-header {
  margin-top: 10px;
}

}
